# Virtual Environment
venv/
env/
.venv/

# Environment Variables & Secrets (CRITICAL: Do NOT push to GitHub)
.env
*.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# OS files
.DS_Store
Thumbs.db
